@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after{
    @apply box-border scroll-smooth;
}

body{
    @apply m-0 p-0 font-inter antialiased;
}

input,
select,
textarea{
    @apply w-full text-black font-inter border-0 outline-0 placeholder:text-gray-400 p-6;
}

.custom-scrollbar::-webkit-scrollbar{
    @apply w-1;
}

.custom-scrollbar::-webkit-scrollbar-thumb{
    @apply bg-gray-300 rounded-md;
}

.loader{
    @apply fixed inset-0 hidden flex-col justify-center items-center bg-white z-50;
}

.loader.show{
    @apply flex;
}

.progress {
    height: 4.5px;
    width: 182px;
    background: linear-gradient(#f43f5e 0 0),
        linear-gradient(#f43f5e 0 0),
        #dbdcef;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    animation: progress-7x9cg2 3s infinite;
}

@keyframes progress-7x9cg2 {
    0% {
        background-position: -150% 0, -150% 0;
    }

    66% {
        background-position: 250% 0, -150% 0;
    }

    100% {
        background-position: 250% 0, 250% 0;
    }
}

.toast{
    @apply fixed bottom-12 left-1/2 -translate-x-1/2 hidden rounded-md shadow-2xl py-2 px-4 z-50;
}

.toast.error{
    @apply block bg-red-500;
}

.toast.success{
    @apply block bg-emerald-500;
}

.sidebar-link{
    @apply relative flex flex-col md:flex-row items-center text-xs md:text-sm text-light-dark font-medium md:gap-4 xl:px-12 py-2 sm:py-[7px] mb-1;
}

.sidebar-link.active{
    @apply text-primary font-semibold before:absolute before:top-0 xl:before:h-full before:left-0 before:w-1 before:bg-primary;
}

.heart{
    @apply flex items-center text-sm text-gray-400 font-medium gap-2;
}

.tickbox{
    @apply flex items-center text-sm text-light-dark font-semibold border border-gray-200 rounded-lg gap-2 py-2 px-4 transition-all duration-200;
}

.tickbox.active{
    @apply border border-emerald-500;
}

.tab{
    @apply inline-block text-sm text-gray-400 font-medium py-4 px-4 transition-all duration-200;
}

.tab.active{
    @apply text-primary font-semibold border-b-2 border-b-primary;
}

.tab-item{
    @apply hidden;
}

.tab-item.active{
    @apply block;
}

.notification{
    @apply fixed top-[70px] sm:top-[84px] right-0 w-full sm:w-[320px] min-h-[calc(100vh-70px)] sm:min-h-[calc(100vh-84px)] hidden xl:flex flex-col bg-white border-l border-l-gray-200/80 shadow-xl md:shadow-none py-8;
}

.notification.show{
    @apply flex;
}

.notif{
    @apply flex text-[13px] text-gray-500 font-medium hover:bg-neutral-50 gap-3 px-8 py-2 transition-all duration-200;
}

.notif.unread{
    @apply bg-neutral-100;
}